<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReceivePort" value="COM3" />
    <add key="WritePort" value="COM1" />
    <add key="ElectricScaleProfile" value="1"/>
    <add key="BarcodeValidate" value="20,10,9"/>
    <add key="LimitedValue" value="0.97,1.03"/>
    <add key="CreateReportTime" value="09,08,15"/>
    <add key="Factory" value="SAO VIET"/>
  </appSettings>
  <connectionStrings>
    <add name="StoringSystemEntities" connectionString="metadata=res://*/Entites.SaoVietStoringModel.csdl|res://*/Entites.SaoVietStoringModel.ssdl|res://*/Entites.SaoVietStoringModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SV-QC;Initial Catalog=StoringSystem;Persist Security Info=True;User ID=sa;Password=sa@123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>